/*--------------------RESET BÁSICO--------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------BODY------------------------*/
body{
    font-family: arial, sans-serif;
}

/*--------------------BARRA LATERAL-------------------*/
.barra_lateral{
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: #333;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* estilizando links da barra lateral */
.barra_lateral a{
    color: white;
    text-decoration: none; /* remove o azul de link*/
    
}

/*------------------CONTEÚDO PRINCIPAL-----------------*/
.conteudo{
    margin-left: 100px;
    padding: 40px;
}