{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadro de presença</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}">

</head>

</head>

<body>
    <!---barra lateral--->
    <div class="barra_lateral">
        <a href="{% url 'url_pagina_um' %}" >Página um</a>
        <a href="{% url 'url_pagina_dois' %}" class="ativo">Página dois</a>
    </div>

    <div class="conteudo">
        <h1>Painel de presença</h1>
        <h2>Progresso:</h2>
        <P>0%</P>
        <h2>Faltas:</h2>
        <P>0/10</P>
    </div>
    
        
</body>
</html>