{% load static %}
<!--avisa que rodará arquivo estatico(css)-->

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App de gestão acadêmica</title>
        <link rel="stylesheet" href="{% static 'estilo.css' %}">

</head>

<body>
    <!---barra lateral--->
    <div class="barra_lateral">
        <a href="{% url 'url_pagina_um' %}" class="ativo">Página um</a>
        <a href="{% url 'url_pagina_dois' %}">Página dois</a>
    </div>

    <div class="conteudo">
        <h2>Matérias:</h2>
        <h2>Aulas totais:</h2>
        <p>0/10</p>
        <h2>Progresso:</h2>
        <p>0%</p>
    </div>

    <!--CALENDÁRIO BÁSICO-->
    <div class="calendario_container">
        <!--INFORMAÇÕES DO CALENDÁRIO-->
        <div class="calendario_cabecalho">
            <button class="seta>&lt"></button>
        </div>
    </div>
    

</body>
</html>